body {
    font-family: ralewayregular, Arial, sans-serif;
    color:#646462;
    background-color: #f2e5d2;
    background-image: url("../images/bg.jpg");
    background: url("../images/bg.jpg") #f2e5d2 no-repeat center center fixed;
}

.clear {
    clear: both;
}


a{
    font-size: 15px;
    font-weight: bold;
    color: #35a0c4;
}

h1 {
    margin: 0.75em 0;
}

h2 {
    color: #7ed2ec;
}


.h3Bloc {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: 0;
    font-size: 1.8em;
    background-color: #7ed2ec;
    color: #FAFEFF;
}

.content-area {
    background-color:#fafeff;
    padding-top: 1em;
    padding-bottom: 1em;
}


.no-margin-bottom {
    margin-bottom: 0;
}


.no-margin-top{
    margin-top: 0;
}

body > .container {
    background-color: #E5F8FE;
    padding-bottom: 2em;
}

.bg-secondary{
    background-color: #fcf8df;
}

blockquote {
    border-left: 5px solid #7ed2ec;
}

button.btn-block {
    margin: 1em 0;
}


/* ***  MENU *** */

.navbar a {
    color: #ffffff;
    font-size: 1.2em;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {

    background-color: transparent;
}


.navbar  a:hover,
.navbar  a:active,
.navbar  a:focus {
    background-color: transparent;
    color: #35a0c4;
}

.menu > .container {
    background-color: #7ed2ec;
    margin-bottom: 0;
}
header.menu {
    background-color: #7ed2ec;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    font-family: ralewaybold, Arial, sans-serif;
    padding-top: 0.6em;
}

.navbar-brand img {
    margin-right: 0.5em;
    margin-top: 0;
}

/* ***  FOOTER *** */

.footer {
    background-color: #7ed2ec;
}
.footer a.padLink {
    margin-right: 2em;
}

.footer a, .footer p {
    line-height: 3em;
    color: #ffffff;
}

.footer p {
    margin-bottom: 0;
}


.leftImg {
    float: right;
    margin: 1em 1em;
}

/* ***  SIDEBAR *** */

aside .no-margin-bottom{
    margin-bottom: 0;
}

aside ul.info > li > a{
    line-height: 2.5em;
    font-size: 1.2em;
}

aside ul .info > li > a > i.fa {
    color:#FFA13E;
    font-size: 1.2em;
}

aside ul.actus li  {
    border-bottom: 1px solid #FFA13E;
}

aside ul.actus li:last-child {
    border: 0;
}

aside ul.info  .badge {
    background-color:#35a0c4;
    font-size: 1.6em;
    border-radius: 1.8em;
    padding-bottom: 0.3em;
    padding-top: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    margin-right: 0.3em;

}

aside ul.info  span.badge:hover {
    background-color: #3bbbe2;
}

aside .sideContent  {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #f2e5d2;
}



/* ***  CARTES GOOGLE *** */

#totalGES {
    font-size: 1.2em;
}




.mapInfo h3 span.mini {
    font-size: 0.8em;
}

.mapInfo h3 span.maxi {
    font-size: 1.5em;
}

.mapInfo h2{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-top: 0;
    margin-bottom: 0.5em;

}
